
:root{
    --primary-color: #3498db;
    --text-color: #333;
    --bg-color: #fff;
    --font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.page{
    font-family: var(--font-family);
}

.header{

}

.header__controls{

}

/* quando o body tiver a classe dark */
body.dark{
    --text-color: white;
    --bg-color: #121212;
    color: var(--text-color);
    background-color: var(--bg-color);
}

/* quando tiver a classe light */