*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.p1{
    font-family: "Roboto", sans-serif;

}

.p2{
    font-family: "Montserrat", sans-serif;
}

.p3{
    font-family: "Open Sans", sans-serif;
}

.homem{
    color: red;
}