:root {
  --primary-color-light: #f0f0f0;
  --secondary-color-light: #ffffff;
  --text-color-light: #333;
  --hover-color-light: #ddd;
  --button-bg-light: #e0e0e0;
  --button-hover-light: #ccc;
  --sidebar-bg-light: #ffffff;

  --primary-color-dark: #1e1e1e;
  --secondary-color-dark: #2e2e2e;
  --text-color-dark: #f0f0f0;
  --hover-color-dark: #555;
  --button-bg-dark: #333;
  --button-hover-dark: #444;
  --sidebar-bg-dark: #2e2e2e;
}

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    display: flex;
    height: 100vh;
    width: 100vw;
}
.quadrado_esquerdo{
    display: flex;
    justify-content: start;
    align-content: center;
    align-items: start;
    flex-direction: column;
    background-color: green;
    height: 100vh;
    width: 5vw;
}

.quadrado_direito{
    height: 100vh;
}

.quadrado_direito h1{
    margin: 10px 0px 20px 10px;
    color: var(--primary-color-light);
}

.quadrado_direito p{
    margin: 10px 0px 20px 10px;
    color: var(--primary-color-light);

}


.botao{
    padding: 5px;
    margin: 5px;
}

